Repository TheThingsIndustries/lorawan-stack-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KrishnaIyer, @johanstokking, @happyRip, @ryaplots, @pierrephz, @vlasebian, @nicholaspcr, @halimi, @mjamescompton

CODEOWNERS:

# Root
/* @KrishnaIyer
/CODEOWNERS @johanstokking @KrishnaIyer
/LICENSE @johanstokking

# Build pipeline and tooling
/Makefile @KrishnaIyer @johanstokking
/.github/workflows @happyRip

# Hugo
/doc/assets/css @ryaplots @pierrephz
/doc/assets/js @ryaplots
/doc/layouts @ryaplots @pierrephz

# Subsections
/doc/content/integrations @vlasebian @KrishnaIyer
/doc/content/integrations/payload-formatters @vlasebian @KrishnaIyer

# Subject matter experts
/doc/content/concepts/features/cli @KrishnaIyer
/doc/content/concepts/console @ryaplots @KrishnaIyer
/doc/content/enterprise/docker @KrishnaIyer
/doc/content/enterprise/aws @KrishnaIyer @johanstokking @happyRip
/doc/content/migration @happyRip @KrishnaIyer
/doc/content/cloud @happyRip @KrishnaIyer
/doc/content/concepts/features/events @johanstokking @KrishnaIyer

/doc/content/api @KrishnaIyer @johanstokking
/doc/content/enterprise/management/configuration @johanstokking @KrishnaIyer
/doc/content/cloud/branding @ryaplots @KrishnaIyer
/doc/content/reference/federated-auth @nicholaspcr @KrishnaIyer
/doc/content/concepts/features/lorawan/frequency-plans @halimi @KrishnaIyer
/doc/content/enterprise/join-server/interop-configuration @johanstokking @halimi @KrishnaIyer
/doc/content/concepts/networking @KrishnaIyer
/doc/content/concepts/advanced/root-certificates @KrishnaIyer
/doc/content/reference/stripe @mjamescompton @KrishnaIyer

# Reference components
/doc/concepts/architecture/components/application-server @johanstokking @vlasebian @KrishnaIyer
/doc/concepts/architecture/components/gateway-configuration-server @KrishnaIyer @nicholaspcr
/doc/concepts/architecture/components/gateway-server @johanstokking @vlasebian @KrishnaIyer
/doc/concepts/architecture/components/identity-server @nicholaspcr @ryaplots
/doc/concepts/architecture/components/join-server @johanstokking @ryaplots @KrishnaIyer
/doc/concepts/architecture/components/network-server @johanstokking @halimi @KrishnaIyer
/doc/concepts/architecture/components/packet-broker-agent @johanstokking @vlasebian @KrishnaIyer

# Clear generated code
/doc/data/api/*/*.yml

docs: Release 3.32.3 (#1392)
  doc/config/_default/config.toml
  doc/content/whats-new/3.32.3.md
Owners: none

doc: Update helm chart docs
  doc/content/the-things-stack/host/kubernetes/generic/configuration/_index.md
  doc/content/the-things-stack/host/kubernetes/generic/install-charts/_index.md
  doc/content/the-things-stack/host/kubernetes/generic/prerequisites/_index.md
  doc/content/the-things-stack/host/kubernetes/generic/prerequisites/sample-ingress-controllers.md
  doc/content/the-things-stack/host/kubernetes/generic/troubleshooting/_index.md
  doc/themes/the-things-stack/layouts/shortcodes/ttigpro.html
Owners: none

doc: Add attributes to uplink message data format
  doc/content/the-things-stack/concepts/data-formats/_index.md
Owners: none

doc: Move migration under concepts
  doc/content/concepts/architecture/components/device-template-converter.md
  doc/content/concepts/migration/_index.md
  doc/content/concepts/migration/exporting-end-devices/_index.md
  doc/content/concepts/migration/exporting-end-devices/export-from-chirpstack-v3.md
  doc/content/concepts/migration/exporting-end-devices/export-from-chirpstack.md
  doc/content/concepts/migration/exporting-end-devices/export-from-firefly.md
  doc/content/concepts/migration/exporting-end-devices/export-from-tts.md
  doc/content/concepts/migration/exporting-end-devices/export-from-wanesy.md
  doc/content/concepts/migration/exporting-end-devices/troubleshooting.md
  doc/content/concepts/migration/faq.md
  doc/content/concepts/migration/gateway-migration.md
  doc/content/concepts/migration/migrating-between-tts-distributions/_index.md
  doc/content/concepts/migration/migrating-between-tts-distributions/establish-new-session/_index.md
  doc/content/concepts/migration/migrating-between-tts-distributions/migrate-active-session/_index.md
  doc/content/hardware/devices/adding-devices/adding-devices-in-bulk/_index.md
Owners: none

doc: Add recvTime to decodeUplink() input
  doc/content/integrations/payload-formatters/javascript/uplink/_index.md
Owners: @vlasebian, @KrishnaIyer

doc: Fix architecture summary
  doc/content/the-things-stack/concepts/architecture/_index.md
Owners: none

doc: Fix comments
  doc/content/api/concepts/troubleshooting/_index.md
  doc/content/concepts/architecture/_index.md
  doc/content/concepts/features/cli/_index.md
  doc/content/concepts/features/cli/configuring-cli/_index.md
  doc/content/concepts/features/cli/installing-cli/_index.md
  doc/content/concepts/features/cli/login/_index.md
  doc/themes/the-things-stack/layouts/index.html
Owners: @KrishnaIyer, @johanstokking
